
.safety-privacy {
    max-width: 688px;
    padding-bottom: 40px;
    min-height: calc(100vh - 88px);
    margin-left: 160px;
    line-height: 1;
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-top: 0px
}

.h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #1c1c1c;
    padding: 40px 0px;
    margin-bottom: 0;
    margin-top: 0px
}

.safety .p,.safety .p1 {
    font-weight: 400;
    color: #7c7c7c;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 44px;
    margin-top: 0px;
}