.post-interactions {
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow-y: visible;
}
.post-interactions .post-interaction-content {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 8px 0 4px;
  flex-grow: 1;
  margin-bottom: 5px;
}

.post-interactions .post-comment,
.post-interactions .post-share,
.post-interactions .post-save,
.post-interactions .post-unsave {
  display: inline-block;
  display: flex;
  align-items: center;
  border-radius: 2px;
  line-height: 16px;
  box-sizing: border-box;
  color: #949494;
  word-break: normal;
  padding-left: 5px;
  position: relative;
  padding-left: 8px;
  left: -8px;
}
.post-interactions .post-share button,
.post-interactions .post-save button,
.post-interactions .post-unsave button,
.post-interactions .post-hide button,
.post-interactions .post-more-interactions button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  border-radius: 2px;
  padding: 4px;
  margin-top: 3px;
}
.post-interactions .post-hide {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.post-interactions .post-more-interactions {
  position: relative;
}
.interactions-dropdown {
  position: absolute;
  top: 38px;
  left: 0px;
  width: 270px;
  border-radius: 5px;
  display: none;
  visibility: hidden;
  background-color: white;
  border: 1px solid #ccc;
}

.post-more-interactions .is-visible,
.post-share .is-visible {
  display: block;
  visibility: visible;
}

.interactions-dropdown .hide-button,
.interactions-dropdown .post-copy-link,
.interactions-dropdown .post-cross,
.interactions-dropdown .post-embed {
  display: inline-block;
  width: 95%;
  color: black;
  cursor: pointer;
  border-radius: 2px;
  padding: 6px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.post-comment .comments-count {
  display: inline-block;
  line-height: 1;
  text-transform: capitalize;
  vertical-align: middle;
  padding: 6px 4px 8px 4px;
  font-size: 14px;
}
.post-interactions .post-share span,
.post-interactions .post-save span,
.post-interactions .post-unsave span,
.post-interactions .post-hide span,
.post-interactions .post-copy-link span,
.post-interactions .post-cross span,
.post-interactions .post-embed span {
  display: inline-block;
  text-transform: capitalize;
  vertical-align: middle;
  font-size: 14px;
  margin-bottom: 7px;
  margin-left: 5px;
  font-weight: 700;
}
.post-interactions .post-hide:hover,
.post-interactions .post-copy-link:hover,
.post-interactions .post-cross:hover,
.post-interactions .post-embed:hover {
  background-color: #e9f5fd;
}
.post-interactions .post-hide a,
.post-interactions .post-copy-link a,
.post-interactions .post-cross a,
.post-interactions .post-embed a {
  display: inline-block;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 5px;
  color: #bfc0c1;
}
.post-interactions .post-hide span {
  margin-bottom: 0;
}
.post-interactions .post-hide a:hover,
.post-interactions .post-copy-link a:hover,
.post-interactions .post-cross a:hover,
.post-interactions .post-embed a:hover {
  color: black;
}

.post-comment:hover,
.post-share button:hover,
.post-save button:hover,
.post-unsave button:hover,
.post-more-interactions:hover {
  background-color: #e8e8e8ed;
}

.post-interactions .is-voting-visible {
  display: block;
  visibility: visible;
}
#small-voting {
  display: none;
  visibility: hidden;
}

@media (max-width: 640px) {
  .post-interactions .post-more-interactions,
  .post-interactions .post-save {
    display: none;
  }
  .post-interactions .post-share .interactions-dropdown {
    width: 180px;
  }
}
