.post-interactions {
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow-y: visible;
  margin-top: 1rem;
}
.post-interactions .post-interaction-content {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.6rem;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 8px 0 4px;
  flex-grow: 1;
  margin-bottom: 5px;
}

.post-interactions .post-comment,
.post-interactions .post-share,
.post-interactions .post-save,
.post-interactions .post-unsave,
.post-interactions .post-interaction-button {
  display: inline-block;
  display: flex;
  align-items: center;
  border-radius: 2px;
  line-height: 1.6rem;
  box-sizing: border-box;
  color: #949494;
  word-break: normal;
  position: relative;
  padding-left: 8px;
  left: -8px;
}

.post-interactions .post-hide button,
.post-interactions .drop-down-item button,
.post-interactions .post-more-interactions button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  border-radius: 2px;
  padding: 4px;
  margin-top: 3px;
}
.post-interactions .post-hide,
.post-interactions .drop-down-item:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.post-interactions .post-more-interactions {
  position: relative;
}
.interactions-dropdown {
  position: absolute;
  top: 3.8rem;
  left: 0px;
  width: 24rem;
  border-radius: 5px;
  display: none;
  visibility: hidden;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
}

.post-more-interactions .is-visible,
.post-share .is-visible {
  display: block;
  visibility: visible;
}

.interactions-dropdown .hide-button {
  display: inline-block;
  width: 95%;
  color: black;
  cursor: pointer;
  border-radius: 2px;
  padding: 6px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.post-comment .comments-count,
.post-share span {
  display: inline-block;
  line-height: 1;
  text-transform: capitalize;
  vertical-align: middle;
  padding: 6px 4px 8px 4px;
  font-size: 14px;
}

.post-interactions .post-unsave span,
.post-interactions .post-save span,
.post-interactions .post-hide span,
.post-interactions .drop-down-item span,
.post-interactions .post-share-2 span,
.post-interactions .post-save-2 span,
.post-interactions .post-approve-2 span,
.post-interactions .post-spam-2 span,
.post-interactions .post-remove-2 span,
.post-interactions .post-unsave-2 span,
.post-interactions .post-interaction-button span {
  display: inline-block;
  text-transform: capitalize;
  vertical-align: middle;
  font-size: 1.4rem;
  margin-left: 5px;
  font-weight: 700;
  padding: 2px 4px;
  z-index: 10;
}
.post-interactions .post-share-2 span,
.post-interactions .post-save-2 span,
.post-interactions .post-approve-2 span,
.post-interactions .post-remove-2 span,
.post-interactions .post-spam-2 span,
.post-interactions .post-unsave-2 span {
  padding-bottom: 8px;
}
.post-interactions .post-share-2 svg,
.post-interactions .post-save-2 svg,
.post-interactions .post-approve-2 svg,
.post-interactions .post-remove-2 svg,
.post-interactions .post-spam-2 svg,
.post-interactions .post-unsave-2 svg {
  margin-top: 5px;
}

.post-interactions .drop-down-item:hover,
.post-interactions .post-hide:hover,
.post-interactions .post-share:hover,
.post-interactions .post-comment:hover,
.post-interactions .post-save:hover,
.post-interactions .post-unsave:hover,
.post-interactions .post-more-interactions:hover,
.post-interactions .post-share-2:hover,
.post-interactions .post-unsave-2:hover,
.post-interactions .post-save-2:hover,
.post-interactions .post-approve-2:hover,
.post-interactions .post-spam-2:hover,
.post-interactions .post-remove-2:hover,
.post-interactions .post-interaction-button:hover {
  background-color: #e8e8e8ed;
}
.post-interactions .post-hide a,
.post-interactions .drop-down-item a,
.post-interactions .post-share a,
.post-interactions .post-share-2,
.post-interactions .post-save-2,
.post-interactions .post-approve-2,
.post-interactions .post-spam-2,
.post-interactions .post-remove-2,
.post-interactions .post-unsave-2 {
  display: inline-block;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 1rem 5px;
  color: #878787;
}
.post-interactions .post-hide span,
.post-interactions .drop-down-item span {
  margin-bottom: 0;
}
.post-interactions .post-hide a:hover,
.post-interactions .drop-down-item a:hover,
.post-interactions .post-share a:hover,
.post-interactions .post-save a:hover,
.post-interactions .post-share-2:hover,
.post-interactions .post-unsave-2:hover,
.post-interactions .post-remove-2:hover,
.post-interactions .post-spam-2:hover,
.post-interactions .post-approve-2:hover,
.post-interactions .post-save-2:hover {
  color: black;
}

.post-interactions .is-voting-visible {
  display: block;
  visibility: visible;
}
#small-voting {
  display: none;
  visibility: hidden;
}

.post-interactions .post-save-2,
.post-interactions .post-approve-2,
.post-interactions .post-spam-2,
.post-interactions .post-remove-2,
.post-interactions .post-unsave-2,
.post-interactions .post-share-2 {
  display: none;
  visibility: hidden;
}

.delete-post-button {
  border: none;
  background-color: #0079d3;
  color: white;
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 1.5;
  min-height: 2.4rem;
  min-width: 4rem;
  padding: 1rem 2rem;
  margin-left: 1rem;
  align-items: center;
  border-radius: 999.9rem;
  box-sizing: border-box;
  cursor: pointer;
  text-transform: 'Capitalize';
}

.delete-post-button:hover {
  backgroundcolor: '#f75b5b';
}
@media (max-width: 890px) {
  .post-interactions .interactions-dropdown {
    left: -15vw;
  }
}
@media (max-width: 640px) {
  .post-interactions .interactions-dropdown {
    width: 180px;
  }
  .post-interactions .post-save-2,
  .post-interactions .post-approve-2,
  .post-interactions .post-remove-2,
  .post-interactions .post-spam-2,
  .post-interactions .post-unsave-2,
  .post-interactions .post-share-2 {
    display: block;
    visibility: visible;
  }
  .post-interactions .post-share,
  .post-interactions .post-save,
  .post-interactions .post-unsave {
    display: none;
    visibility: hidden;
  }
  .post-interactions .post-more-interactions button {
    padding-top: 0.8rem;
  }
}
@media (max-width: 420px) {
  .post-interactions .post-more-interactions button {
    padding-top: 0.8rem;
  }
  .post-interactions .interactions-dropdown {
    width: 120px;
  }
}
@media (max-width: 1230px) and (min-width: 970px) {
  .post-approve,
  .post-approve span {
    width: 0;
    padding: 0;
    display: none;
    visibility: hidden;
  }
  .post-interactions .post-approve-2 {
    display: block;
    visibility: visible;
  }
}

@media (max-width: 1100px) and (min-width: 970px) {
  .post-spam,
  .post-remove {
    width: 0;
    padding: 0;
    display: none;
    visibility: hidden;
  }

  .post-options,
  .post-more-interactions {
    position: relative;
    left: -2.5rem;
  }

  .post-interactions .post-remove-2,
  .post-interactions .post-spam-2 {
    display: block;
    visibility: visible;
  }
}

@media (max-width: 760px) {
  .post-approve,
  .post-approve span {
    width: 0;
    padding: 0;
    display: none;
    visibility: hidden;
  }
  .post-interactions .post-approve-2 {
    display: block;
    visibility: visible;
  }
}

@media (max-width: 660px) {
  .post-approve,
  .post-approve span {
    width: 0;
    padding: 0;
    display: none;
    visibility: hidden;
  }

  .post-spam,
  .post-remove {
    width: 0;
    padding: 0;
    display: none;
    visibility: hidden;
  }

  .post-options,
  .post-more-interactions {
    position: relative;
    left: -2.5rem;
  }

  .post-options,
  .post-more-interactions {
    position: relative;
    left: -2.5rem;
  }

  .post-interactions .post-remove-2,
  .post-interactions .post-spam-2 {
    display: block;
    visibility: visible;
  }
}

@media (max-width: 420px) {
  .post-approve,
  .post-approve span {
    width: 0;
    padding: 0;
    display: none;
    visibility: hidden;
  }

  .post-spam,
  .post-remove {
    width: 0;
    padding: 0;
    display: none;
    visibility: hidden;
  }

  .post-options,
  .post-more-interactions {
    position: relative;
    left: -2.5rem;
  }
}
