@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,400&family=Noto+Sans+JP:wght@100;300;400;500;700&family=Roboto:ital,wght@0,400;0,500;1,100;1,400&display=swap');

:root {
  --newCommunityTheme-line: #edeff1;
  --newCommunityTheme-bodyText: #1c1c1c;
  --newCommunityTheme-button: #0079d3;
  --newCommunityTheme-body: #ffffff;
  --newCommunityTheme-metaText: #7c7c7c;
  --newCommunityTheme-monospaceColor: #ff006d;
  --newRedditTheme-titleText: #1A1A1B;
  --newRedditTheme-linkText: #0079D3;
  --newCommunityTheme-actionIcon: #878A8C;
  --newRedditTheme-line: #EDEFF1;
  --newCommunityTheme-field: #F6F7F8;

}
* {
  box-sizing: border-box;
}

html {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 62.5%; /* to convert 1rem to 10px*/
}

body {
  margin: 0;
  background-color: #fff;
  color: #1a1a1b;
  background-color: aliceblue;
}
